<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Registro_Vehiculos_App.My.MySettings.Registro_VehiculoConnectionString"
            connectionString="Data Source=DESKTOP-1TF7V40\SQLEXPRESS;Initial Catalog=Registro_Vehiculo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>